# Hugo default output directory






.env
npm-debug.log

/node_modules



public/*
!public/print_output/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

package.json
package-lock.json
