baseurl = "/"
languageCode = "en-us"
title = "Western Museums Association Program Committee"
theme = "hugo-material-docs"
metadataformat = "yaml"
canonifyurls = true
# Enable Google Analytics by entering your tracking id
googleAnalytics = ""


[markup.goldmark.renderer]
  unsafe= true

[related]
  threshold = 1
  includeNewer = true
  toLower = true
  [[related.indices]]
    name = "assignee"
    weight = 1
  [[related.indices]]
    name = "session_track_id"
    weight = 1
  [[related.indices]]
    name = "level"
    weight = 1
  [[related.indices]]
    name = "audience"
    weight = 1

[mediaTypes]
  [mediaTypes."application/rtf"]
    suffixes = ["rtf"]
  [mediaTypes."text/latex"]
    suffixes = ["tex"]
  [mediaTypes."application/pdf"]
    suffixes = ["pdf"]


[outputFormats]
	[outputFormats.downloadable]
	  baseName = "proposals"
		isPlainText = false
		mediaType = "text/html"
		path = "../print_output"
  [outputFormats.round1_print]
    baseName = "round1"
    isPlainText = true
    mediaType = "text/latex"
    path = "../files"
  [outputFormats.round2_print]
    baseName = "round2"
    isPlainText = true
    mediaType = "text/latex"
    path = "../files"




[outputs]
	home = ["HTML", "JSON"]





[params]
	# General information
	author = "Western Museums Association"
	description = "Site for review of submitted 2020 WMA proposals"
	copyright = "2019 Western Museums Association, all rights reserved"
  submission_year = "2021"

	# Repository

	logo = "images/wmalogo.png"
	favicon = ""

	permalink = "#"

	# Custom assets
	custom_css = []
	custom_js  = []

	# Syntax highlighting theme
	highlight_css  = ""

	[params.palette]
    	primary = "red"
    	accent  = "teal"

    [params.font]
    	text = "Ubuntu"
    	code = "Ubuntu Mono"


[social]
	twitter = "westmuse"
	github  = ""
	email   = "programs@westmuse.org"
	web 		= "https://westmuse.org"
	instagram = "https://www.instagram.com/westmuse.pics/"
  facebook = "https://www.facebook.com/westmuse/"


[[menu.main]]
	name   = "Home"
	url    = "/"
	weight = 10

[[menu.main]]
	name   = "Reviewing Guidelines & Process"
	url    = "pc-materials/"
	weight = 20

[[menu.main]]
  name = "Documents and Downloads"
  url = "pc-materials/downloads/"
  weight = 15

[[menu.main]]
	name   = "Timelines & Meeting Agendas"
	url    = "timelines/"
	weight = 25

[[menu.main]]
	name   = "All Proposals"
	url    = "proposals/"
	weight = 40

[[menu.main]]
	name   = "Committee Members"
	url    = "pc-members/"
	weight = 30
[[menu.main]]
  name   = "Proposals by Track"
  url    = "tracks/"
  weight = 50

[blackfriday]
	smartypants	= true
	fractions = true
	smartDashes = true
	plainIDAnchors = true